
.contact{
    background: url("../../Restraunt Website Template/images/footer.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover; 
     height: 600px; 
      width: 100%;
     text-align: center;
     margin: 0 auto;
     margin-top: 100px;
     
     padding-top: 300px;
     align-items: center;
     padding-top: 100px; 
     font-family: 'Courier New', Courier, monospace;
}


.contact h1{
    font-size: 3.5rem;
    color:#3d2514;
    font-weight: 500;
        margin: 0px;
        padding: 0px;
        font-family: 'Alfa Slab One';
        /* margin-bottom: 80px;       */


}


form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    /* margin-top: -600px; */
}

.contact form input,
.contact form textarea{
    width:100%;
    height:50px;
    margin:5px 0px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #110c09;
    color: #ffffff;
    border-radius: 5px;
}

.contact form textarea{
    height: 150px;
}

.contact form input[type="submit"]{
    height: 45px;
    background-color: brown;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;

}


.contact form input[type="submit"]:hover{
    background-color: #ffffff;
    transition: all ease 0.5s;
    color: #3d2514;
    border: 2px solid #3d2514;
    background-color: #ffffff;

}
